.table {
  width: 100%;
  text-align: center;
  border: 1px solid #019267;
}

.thead {
  background-color: #019267;
  color: #ffffff;
  font-size: 18px;
}

.tr:nth-child(even) {
  background-color: #d6eeee;
}

.padding {
  border: 1px solid #019267;
  padding: 15px;
}
